@{
  Layout = "_Layout";
}

<br>
<h1>Welcome to Peirre's Bakery!</h1>
<br>
<br>
<div id="links">
<p><a href='/vendors'>View vendors</a> or navigate to <a href='/vendors/new'>Add a new vendor</a></p>
</div>

