@{
  Layout = "_Layout";
}

    @using Bakery.Models;


    <h1>Vendors</h1>

    @if (@Model.Count == 0)
    {
      <br>
      <h2>No vendors have been added yet!</h2>
      <br>
    } 

    @foreach (Vendor vendor in Model)
    {
      <br>
      <h2><a href='/vendors/@vendor.Id'>@vendor.Name</a></h2>
      <br>
    }

<div id="links">
    <p><a href='/'>Back home</a></p>
    </div>


