@{
  Layout = "_Layout";
}

<h2>Add a Vendor</h2>
<br>
    <form action="/vendors" method="post">
      <label for="vendorName">Vendor Name:</label>
      <input id="vendorName" name="vendorName" type="text"  required>
      <button type="submit">Add</button>
    </form>
<br>
<div id="links">
    <p><a href="/">Back home</a> or navigate <a href="/vendors">Back to vendors</p>
    </div>